.contactme__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 155px 0 55px;
}
.contactme__containter-mail {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /*flex-direction: column;*/

}
.contactme__containter-form {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 100%; */
}
.contactme__input-container{
  display: flex;
  flex-direction: column;
}